body{
    background-color: rgb(248, 237, 222);
}

.btn{
    width: 90px;
    height: 80px;

    margin-left:5px ;
    margin-right: 5px;

    border-radius: 5px;
    background-color: grey;
    color: #ffff;

    text-align: center;

    font-size: 50px;

    cursor: pointer;
}

.middle{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.operation{
    height: 45px;
    width: 80px;
}
.calculator{
    margin: 0 auto;
    /* border: 1px solid black; */
    background-color: rgb(34, 33, 33);
    border-radius: 5px ;
    width: 650px;
    height: 500px;
}

.view{
    height: 60px;
    border-top-left-radius: 5px;
    padding-top: 10px;
    background-color: gray;
}

.screen{
    width: 80%;
    height: 70%;

    margin: 0 auto;
    /* margin-top: 10px; */
    background-color: white;
}


 
.calc{
    display: flex;
    flex-direction: row;

    /* padding-left: 25%; */
    padding-top: 20px;
    cursor: pointer;
}



.row{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}


.operations{
    margin-left: 5px;
}

.operation{
    margin-top: 3px;
    font-size: 45px;
}


.zero{
    width: 90%;
    height: 45px;

    margin: 0 auto;
    margin-top: 15px;

    border-radius: 5px;

    background-color: gray;
    color: #ffff;

    text-align: center;

    font-size: 45px;


}

.clear{
    background-color: rgb(230, 120, 120);
}

.equals{
    background-color: rgb(100, 218, 100);
}
